<html lang="en">

<head>
    <title>John Croker</title>
    <meta name="description" content="Studio of Eric Van Holtz. Specializing in refined digital web experiences with a focus on animated, responsive, and interactive content.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5">
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vanholtz.co/work/studiomega/">
    <meta property="og:title" content="Van Holtz Co – Work – Studio Mega">
    <meta property="og:description" content="Studio of Eric Van Holtz. Specializing in refined digital web experiences with a focus on animated, responsive, and interactive content.">
    <meta property="og:image" content="https://vanholtz.co/img/social_share.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Van Holtz Co">
    <meta name="twitter:creator" content="@vanholtzco">
    <meta name="twitter:title" content="Van Holtz Co – Work – Studio Mega">
    <meta name="twitter:description" content="Studio of Eric Van Holtz. Specializing in refined digital web experiences with a focus on animated, responsive, and interactive content.">
    <meta name="twitter:image" content="https://vanholtz.co/img/social_share.png">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/img/icons/site.webmanifest">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/img/icons/favicon.ico">
     
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link href="https://fonts.googleapis.com/css?family=Play|Press+Start+2P" rel="stylesheet">
    <link href="css/main.min.css" rel="stylesheet" type="text/css">

</head>

<body class="home-page home-page-js">