<header class="sidebar">

    <span class="slideUp">
        <span>
            <img src="/images/me.png" class="arrogant-idiot" />
        </span>
    </span>

    <a class="name" href="/">
        <span class="slideUp"><span>John</span> </span>
        <span class="slideUp"><span>Croker</span> </span>
    </a>

    <button class="mobile-nav" type="button" role="button" aria-label="Menu">
        <span class="mobile-nav-box">
            <span class="mobile-nav-inner"></span>
        </span>
    </button>

    <div class="info">
  
            <div class="contact slideUp">
                <span>
                    <p>
                        Hi! My name is John, I am a Web Developer and this is my personal website.
                    </p>
                    <p>
                        I recently rebuilt this site using Node.js in an attempt to learn something new. So far i'd say I'm at that stage you reach while learning any language, both natural and programming, that involves a lot of bad grammer, hand gestures and insecurity. 
                    </p>
                    <p>
                        Oh! BTW there is a link ot my CV below and some others to sites i've made to the right. Enjoy.
                    </p>
                </span>   
            </div>
            <nav class="links"> 
                <ul>
                    <li class="slideUp"><span><a href="/cv" target="_blank">Curriculum Vitae</a></span></li>
                    <li class="email slideUp"><span><a href="mailto:jj.croker@gmail.com"><strong>jj.croker@gmail.com</strong></a></span></li>
                    {{!-- <li class="about-li slideUp"><span><button class="link" aria-label="About">about</button></span></li> --}}
                    {{!-- <li class="journal-li"><a href="/journal/">journal</a></li> --}}
                </ul>
            </nav>

    </div>
</header>